/* おまじない */
@charset "UTF-8";
/* フォントを借りてくる */
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500;700&display=swap');

/* 各HTML要素を修飾する */
:root{
   --bg: hsl(188, 70%, 55%);
   --bgdark: hsl(192, 80%, 40%);
   --tx: #eee;
   --txweak: #eee8;
   --glow: #fff2;
}

html {
   scroll-behavior: smooth;
}

body{
   margin: 0;
   padding: 0;
   width: 100vw;
   display: flex;
   flex-flow: column;
   align-items: center;
   background-color: var(--bg);
   color: var(--tx);
   font-size: 1.1rem;
   line-height: 1.9rem;
   font-weight: 400;
   font-family: "Zen Maru Gothic", serif;
   background-size: 200vw 150vw;
   background-position: center 56.25vw;
   background-repeat: repeat;
   background-image:
   radial-gradient(at 75% 35%, var(--bgdark) 0px, transparent 35%),
   radial-gradient(at 25% 65%, var(--bgdark) 0px, transparent 35%);
}

header{
   display: none;
}

#outdex, #index{
   position: fixed;
   writing-mode: vertical-lr;
   transform: translate(0, -50%);
   top: 50%;
   width: 2rem;
   height: 100%;
   display: flex;
   flex-flow: row;
   justify-content: space-evenly;
   padding: 0;
   font-size: min(.9rem, 2.2vh);
   z-index: 1;
   overflow: hidden;
}

#outdex{
   left: 0;
   align-items: end;
   transition: opacity .2s ease;
}

#index{
   right: 0;
}

#outdex a, #index a{
   text-decoration: none;
   appearance: none;
   color: var(--txweak);
   border-radius: 0 .5rem .5rem 0;
   transition: all .2s ease;
   flex-grow: 1;
   flex-basis: auto;
   text-align: center;
}

#index a{
   border-radius: .5rem 0 0 .5rem;
}

#outdex a:hover, #index a:hover{
   color: var(--tx);
   background-color: var(--glow);
}

#outdex div, #index div{
   flex-grow: 1;
   flex-basis: auto;
   text-align: center;
   cursor: default;
}

#outdex .material-symbols-rounded{
   margin-top: .2rem;
   font-variation-settings: 'wght' 300;
   transform: rotate(-90deg) translate(0, 4%);
   font-size: 1.2em;
}

body > img{
   width: 100vw;
   height: auto;
   display: block;
   position: absolute;
   z-index: 0;
   margin: -7vw 0 0;
   pointer-events: none;
   border-radius: 0;
}

.imgbox{
   width: 100%;
   display: flex;
   justify-content: center;
}

.imgbox img{
   max-height: 2.5rem;
   object-fit: contain;
}

.content{
   width: min(90vw, 45rem);
   padding: 1rem;
   z-index: 1;
}

h1{
   font-size: 5rem;
   line-height: 1.2em;
   margin: 28vw -.3rem 1rem;
   color: white;
   font-weight: 700;
}

h2{
   margin: 0 0 1rem;
   font-size: 2rem;
   line-height: 2.5rem;
   position: relative;
   color: white;
   font-weight: 700;
}

:not(img) + h2{
   margin-top: 4rem;
}

h3{
   margin: 1rem 0 .3rem;
   color: white;
   font-weight: 700;
}

h4{
   font-size: 1.2rem;
   margin: 0;
   color: white;
   font-weight: 700;
}

p{
   margin: 0 0 2.5rem;
   font-weight: 400;
}

p:has(+ .otaku), p:not(.dot):has(+ .dot){
   margin-bottom: 0.5rem;
}

p:has(+ h4){
   margin-bottom: 1rem;
}

.dot{
   padding-left: 1rem;
   position: relative;
   margin: 0;
}

.dot2{
   margin-left: 1rem;
}

.dot::before{
   position: absolute;
   content: "●";
   left: 0;
   top: 0;
   color: var(--txweak);
   transform: scale(50%, 50%);
}

.otaku{
   color: var(--txweak);
   width: fit-content;
   position: relative;
   font-size: .8rem;
   padding-left: 1.4rem;
   padding-right: .4rem;
   cursor: pointer;
   border-radius: .5rem;
   margin-left: -.4rem;
   margin-bottom: 2.5rem;
}

.otaku:hover{
   background-color: var(--glow);
}

.otaku::after{
   content: "＞";
   transform: translate(-50%, -50%) scale(80%, 150%);
   color: var(--txweak);
   width: 1.6rem;
   height: 1.6rem;
   position: absolute;
   left: .8rem;
   top: 50%;
   font-size: .6rem;
   line-height: 1.6rem;
   text-align: center;
   transition: all .2s ease;
}

.otaku.show{
   margin-bottom: 0;
}

.otaku.show::after{
   transform: translate(-50%, -50%) rotateZ(90deg) scale(80%, 150%);
}

.material-symbols-rounded{
   transform: translate(0, 18%);
   font-variation-settings: 'wght' 400;
}

.otaku + p{
   padding-left: 1rem;
   font-size: .8rem;
   color: var(--txweak);
   line-height: 1.2rem;
   display: none;
   margin-bottom: 0;
}

.otaku.show + p{
   display: block;
   margin-bottom: 2.5rem;
}

img{
   width: 100%;
   border-radius: .5rem;
   margin: .5rem 0;
}

a{
   text-decoration: none;
   appearance: none;
   color: var(--tx);
   width: fit-content;
   border-radius: .3rem;
}

p a{
   margin: .2rem .1rem;
   padding: 0 .1rem;
   background-color: #dff2;
   color: #fff;
}

p a:hover{
   background-color: #dff4;
}

p a:active{
   background-color: transparent;
}

.gallery {
   width: 100vw;
   overflow: auto;
   white-space: nowrap;
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.gallery img{
   width: min(30rem, 80vw);
   margin: 0 .5rem;
}

.gallery::-webkit-scrollbar{
   display:none;
}

a.buy{
   font-size: 1.1rem;
   display: block;
   margin: 2rem 0 2.5rem;
   padding: 1rem 1.4rem;
   font-weight: 500;
   background-color: var(--tx);
   color: var(--bg);
   cursor: pointer;
   border-radius: 1rem;
   box-shadow: .1rem .2rem .3rem #0002;
   transition: opacity .2s ease;
}

a.buy:hover{
   opacity: .8;
}

a.buy:active{
   box-shadow: none;
}

a.buy .material-symbols-rounded{
   margin-right: 0;
   margin-left: .2rem;
}

table{
   table-layout: fixed;
   border-collapse: collapse;
   text-align: center;
   margin-bottom: 2rem;
}

td:not(.noborder){
   border: solid .1rem var(--txweak);
   padding: 0 .5rem;
}

h6{
   font-size: .8rem;
   margin: 4rem 0 0;
   font-weight: 400;
   line-height: 1.2rem;
}

@media screen and (max-width: 50rem) {

   header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 3rem;
      box-sizing: border-box;
      background: linear-gradient(to top, transparent 0, var(--bg) 1rem);
      display: flex;
      justify-self: flex-start;
      flex-flow: column;
      z-index: 2;
      color: white;
      opacity: .9;
      transition: height .2s ease;
      overflow: hidden;
   }

   header:has(.show){
      height: 19rem;
   }

   body{
      background-position: center 142.85vw;
   }

   body > img{
      height: 142.85vw;
      width: 100vw;
      object-fit: cover;
      object-position: -10vw 0;
      overflow: hidden;
      margin: 0;
   }

   h1{
      margin-top: calc(60vw + 2rem);
      font-size: max(2rem, 13vw);
   }

   #h_upper{
      width: 100%;
      height: 3rem;
      box-sizing: border-box;
      padding: 0 .5rem 1rem 1rem;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
   }

   #h_downer{
      padding: 0 1rem 2rem;
      display: flex;
      flex-flow: column;
      align-items: center;
      font-size: 1rem;
      gap: .5rem;
   }

   #h_downer div{
      color: var(--txweak);
   }

   #h_downer .material-symbols-rounded{
      margin-left: .1rem;
      font-size: .99em;
   }

   header p{
      font-size: .9rem;
      font-weight: 500;
      height: 3rem;
      display: flex;
      align-items: center;
      margin: 0;
   }

   #ham{
      font-size: 1.2rem;
      transform: none;
      transition: transform .2s ease;
      position: relative;
      width: 2rem;
      height: 2rem;
   }

   #ham span{
      position: absolute;
      width: 1rem;
      height: 0;
      left: 1rem;
      border: .05rem solid white;
      transition: all .2s ease;
   }

   #ham span:first-child{
      top: .8rem;
      transform: translate(-50%, 0);
   }

   #ham span:last-child{
      top: 1.2rem;
      transform: translate(-50%, 0);
   }

   #ham.show span:first-child{
      top: 1rem;
      transform: translate(-50%, 0) rotate(45deg);
   }

   #ham.show span:last-child{
      top: 1rem;
      transform: translate(-50%, 0) rotate(-45deg);
   }

   #outdex, #index{
      display: none;
   }
}