/* おまじない */
@charset "UTF-8";
/* フォントを借りてくる */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400&family=Zen+Maru+Gothic:wght@400;500&display=swap');

/* 各HTML要素を修飾する */
:root{
   --bg: hsl(190, 50%, 55%);
   --bgdark: hsl(190, 60%, 45%);
   --tx: #eee;
   --txweak: #eee8;
   --glow: #fff2;
}

*{
   box-sizing: border-box;
}

body{
   padding: 0;
   margin: 0;
   line-height: 0;
   width: 100vw;
   height: 100vh;
   background-color: var(--bg);
   color: var(--tx);
   text-align: center;
   font-weight: 400;
   font-family: 'Zen Maru Gothic', sans-serif;
   overflow: hidden;
   position: relative;
}

body div{
   line-height: normal;
}

#upper{
   width: 100%;
   height: 100%;
   overflow-y: scroll;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-flow: row; /* 横並びにする */
   flex-wrap: wrap; /* 折り返しする */
   gap: .3rem;
   padding: 1rem 1rem 0;
   position: relative;
   transition: opacity .2s ease;
}

#filter{
   width: 6.3rem;
   height: 3rem;
   display: block;
   text-align: left;
   position: relative;
   background-color: transparent;
   border-radius: .5rem;
   transition: opacity .2s ease;
}

#filter:hover{
   background-color: var(--glow);
}

#filter > p{
   position: absolute;
   top: 0;
   left: 0;
   margin: 0;
   font-size: .9rem;
}

#filter > select{
   width: 100%;
   height: 100%;
   padding: .8rem 0 .2rem;
   appearance: none;
   font-size: 1.2rem;
   line-height: 2rem;
   border: none;
   background-color: transparent;
   cursor: pointer;
   position: relative;
   color: var(--tx);
   font-weight: 500;
   font-family: 'Zen Maru Gothic', sans-serif;
   outline: none;
}

#filter::after{
   content: "▼";
   font-size: .5rem;
   font-family: 'DM Mono', monospace;
   color: var(--tx);
   position: absolute;
   right: 0;
   top: 2rem;
   transform: translate(-50%, -50%) scale(150%, 80%);
   pointer-events: none;
}

.tag{
   width: 3rem;
   height: 3rem;
   display: flex;
   align-items: end;
   justify-content: end;
   transition: opacity .2s ease;
}

.tag > a{
   appearance: none;
   text-decoration: none;
   width: fit-content;
   height: 100%;
   writing-mode: vertical-rl;
   font-size: .7rem;
   line-height: .7rem;
   padding-left: .3rem;
   padding-right: .1rem;
   font-weight: 500;
   color: var(--bg);
   word-break: break-all;
   background-color: var(--tx);
   border-radius: .5rem 0 0 .5rem;
   cursor: help;
}

.tag > a:hover{
   background-color: white;
}

.weak{
   opacity: .4;
}

.weak:not(.key){
   pointer-events: none;
}

.code, .grabbing, .code_sample{
   width: 3rem;
   height: 3rem;
   font-size: .9rem;
   line-height: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: .4rem;
   border: solid .1rem var(--tx);
   background-color: var(--bg);
   box-shadow: .1rem .2rem .3rem #0004;
   cursor: pointer;
   position: relative;
   word-break: break-word;
   transition: opacity .2s ease;
}

.grabbing{
   background-color: transparent;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 9;
   pointer-events: none;
   animation: blink .6s ease-in-out infinite alternate;
}

.grabbing .hint{
   display: none;
}

.grabbing.swap{
   border-radius: 50%;
   background-color: var(--tx);
   color: var(--bgdark);
   border: none;
}

@keyframes blink{
   0% {opacity: 0.4;}
   100% {opacity: 1;}
}

.code:has(.mod, .lay), .grabbing:has(.mod, .lay){
   border-radius: 50%;
}

.code:hover{
   background-color: var(--glow);
}

.code p{
   pointer-events: none;
}

.material-symbols-rounded {
   font-variation-settings: 'wght' 340;
   pointer-events: none;
}

.hint{
   position: absolute;
   left: 50%;
   top: 100%;
   border-radius: .7rem;
   font-size: .7rem;
   line-height: .8rem;
   overflow-wrap: break-word;
   word-break: break-word;
   width: 5rem;
   padding: .3rem .4rem;
   text-align: left;
   font-weight: 500;
   transform: translate(-50%, .25rem);
   background-color: var(--tx);
   color: var(--bgdark);
   opacity: 0;
   z-index: 9;
   box-shadow: .1rem .2rem .3rem #0004;
   transition: opacity .2s ease;
   cursor: pointer;
   pointer-events: none;
}

.hint .material-symbols-rounded{
   font-size: .8rem !important;
   line-height: .8rem !important;
}

.legend > .hint, #combo_hints > .hint{
   top: unset;
   bottom: 100%;
   transform: translate(-50%, -.25rem);
}

.code:hover > div, .hint.hover{
   opacity: 1;
}

.hint::after{
   content: "▲";
   font-family: 'DM Mono', monospace;
   position: absolute;
   top: 0;
   left: 50%;
   color: var(--tx);
   font-size: 1rem;
   transform: translate(-50%, -.6rem) scale(200%, 100%);
}

.legend > .hint::after, #combo_hints > .hint::after{
   content: "▼";
   top: unset;
   bottom: 0;
   transform: translate(-50%, .6rem) scale(200%, 100%);
   text-shadow: .1rem .2rem .2rem #0004;
}

#make_custom{
   width: 2.6rem;
   height: 2.6rem;
   margin: .2rem;
   border-radius: 50%;
   background-color: var(--tx);
   color: var(--bg);
   font-weight: 500;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.1rem;
   box-shadow: .1rem .2rem .3rem #0004;
   cursor: pointer;
   position: relative;
   transition: opacity .2s ease;
}

#make_custom:hover > div, .hint.hover{
   opacity: 1;
   pointer-events: none;
}

.mono{
   display: block;
   font-family: 'DM Mono', monospace;
   color: inherit;
   background-color: #0002;
   padding: .1rem .2rem;
   border-radius: .2rem;
   width: fit-content;
   text-decoration: none;
   cursor: help;
}

.hint > div{
   width: 100%;
   height: .8rem;
   margin-top: .3rem;
   display: flex;
   gap: .15rem;
}

.hint > div > img{
   height: .8rem;
   opacity: 0;
}

.hint.w img:nth-child(1){
   opacity: 1;
}

.hint.m img:nth-child(2){
   opacity: 1;
}

.hint.l img:nth-child(3){
   opacity: 1;
}

.hint.i img:nth-child(4){
   opacity: 1;
}

.hint.a img:nth-child(5){
   opacity: 1;
}

.hint > p{
   margin: 0;
}

.small{
   font-size: .75rem;
   line-height: .75rem;
}

.big, .big .material-symbols-rounded{
   font-size: 1.15rem;
   line-height: 1.15rem;
}

#upper_fade{
   width: 100vw;
   height: 20rem;
   pointer-events: all;
   position: sticky;
   bottom: 0;
   left: 0;
   margin: 0 -1rem;
   z-index: 2;
   pointer-events: none;
}

#upper_fade > div:first-child{
   width: 100%;
   height: 2rem;
   background: linear-gradient(transparent, var(--bg));
}

#upper_fade > div:last-child{
   width: 100%;
   height: 18rem;
   background-color: var(--bg);
   pointer-events: all;
}

#lower{
   width: 100%;
   position: absolute;
   bottom: 0;
   left: 0;
   height: 18rem;
   padding: 0 1rem;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   z-index: 3;
   pointer-events: none;
   transition: opacity .2s ease;
}

#left, #right{
   position: relative;
   height: 100%;
   pointer-events: none;
}

#left_keys, #right_keys{
   height: 16rem;
   margin: 1rem 0;
   filter: drop-shadow( .1rem .2rem .3rem #0006);
}

.key{
   cursor: pointer;
   transition: opacity .2s ease;
   pointer-events: all;
}

.key:hover{
   fill: #fff;
}

.weak .key{
   pointer-events: none;
}

.left_layer, .right_layer, .left_combo, .right_combo{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   transition: opacity .2s ease;
}

.left_layer.editing, .right_layer.editing, .left_combo.editing, .right_combo.editing{
   opacity: 1;
}

.col, .row{
   position: absolute;
   display: flex;
   flex-flow: column;
   gap: .15rem;
   align-items: center;
   justify-content: center;
   pointer-events: none;
}

.row{
   flex-flow: row;
   gap: .1rem;
}

.legend{
   position: relative;
   width: 3.1rem;
   height: 3rem;
   border-radius: .4rem;
   color: var(--bgdark);
   font-weight: 500;
   font-size: .9rem;
   line-height: .9rem;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: visible;
   word-break: keep-all;
}

.legend .material-symbols-rounded{
   transform: translate(0, 18%);
   font-variation-settings: 'wght' 400;
}

#map{
   max-height: 100%;
   width: 6rem;
   display: flex;
   flex-flow: column;
   align-items: center;
   overflow-y: scroll;
   position: relative;
   pointer-events: all;
   transition: opacity .2s ease;
}

#lower_fade{
   width: 100%;
   height: 2rem; /* なぜか効かないので文字を入れて高さを出す */
   line-height: 2rem;
   background: linear-gradient(var(--bg), transparent);
   pointer-events: none;
   position: sticky;
   top: 0;
   left: 0;
   z-index: 2;
}

#layers, #combos{
   font-size: .9rem;
   margin-bottom: .6rem;
}

.header{
   width: 5rem;
   height: 1.1rem;
   display: flex;
   flex-flow: row;
   font-size: .7rem;
   font-weight: 500;
   border-radius: .5rem .5rem 0 0;
   background-color: var(--tx);
   color: var(--bg);
   margin: 0 .5rem .3rem;
   overflow: hidden;
   transition: opacity .2s ease;
}

.header_button{
   width: 1.4rem;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: transparent;
   cursor: pointer;
   transition: opacity .2s ease;
}

.disabled{
   opacity: 0;
   pointer-events: none;
}

.header_button:not(.disabled):hover, .header > a:hover{
   background-color: white;
}

.header > a{
   width: 2.8rem;
   height: 100%;
   appearance: none;
   text-decoration: none;
   padding-bottom: .2rem;
   color: var(--tx);
   cursor: help;
   color: var(--bg);
}

.layer, .combo{
   position: relative;
   width: 6rem;
   padding: 0 .3rem .2rem;
   height: 1.4rem;
   display: flex;
   align-items: center;
   justify-content: center;
   line-height: 1.2rem;
   border-radius: .8rem;
   background-color: transparent;
   cursor: pointer;
   box-shadow: none;
   transition: box-shadow .2s ease;
   color: var(--txweak);
}

.layer:hover, .combo:hover{
   background-color: var(--glow);
}

.layer.editing, .combo.editing, .layer:active, .combo:active{
   box-shadow: -.05rem -.1rem .2rem #cff4 inset, .05rem .1rem .2rem #0004 inset;
   color: var(--tx);
   cursor: text;
   transition: none;
}

.layer input, .combo input{
   width: 100%;
   background: none;
   color: inherit;
   font-family: inherit;
   font-weight: inherit;
   appearance: none;
   outline: none;
   border: none;
   text-align: center;
   pointer-events: none;
   cursor: pointer;
}

.layer.editing input, .combo.editing input{
   pointer-events: all;
   cursor: text;
}

.layer_index{
   position: absolute;
   left: .4rem;
   top: .1rem;
   height: 100%;
}

#lower_offset{
   width: 100%;
   height: 2rem;
}

button{
   position: absolute;
   height: 3rem;
   border-radius: 1.5rem;
   color: var(--tx);
   background-color: var(--bg);
   box-shadow: -.1rem -.2rem .3rem #cff4, .1rem .2rem .3rem #0004;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   font-weight: 500;
   transition: box-shadow .2s ease, opacity .2s ease;
   pointer-events: all;
   cursor: pointer;
   z-index: 3;
   border: none;
}

button:hover{
   background-color: var(--glow);
}

button:active{
   box-shadow: -.1rem -.2rem .3rem #cff1, .1rem .2rem .3rem #0001;
   background-color: var(--bg);
   transition: none;
}

button input{
   display: none;
}

button .material-symbols-rounded{
   font-size: 1.5rem;
}

#load{
   width: 7rem;
   left: 1rem;
   bottom: 1rem;
}

#save{
   width: 7rem;
   right: 1rem;
   bottom: 1rem;
}

#help_toggle{
   width: 3rem;
   left: 1rem;
   bottom: 14rem;
}

#conf_toggle{
   width: 3rem;
   right: 1rem;
   bottom: 14rem;
}

#custom_input{
   width: 24rem;
   height: 4rem;
   border-radius: 2rem;
   border: .1rem solid var(--tx);
   background-color: var(--bg);
   position: absolute;
   transform: translate(-50%, -50%);
   top: calc(50vh - 9rem);
   left: 50%;
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   z-index: 4;
   box-shadow: .1rem .2rem .3rem #0004;
   transition: opacity .2s ease;
}

#custom_input input{
   height: 100%;
   width: 100%;
   padding-left: 1.5rem;
   appearance: none;
   outline: none;
   background-color: transparent;
   border: none;
   color: var(--tx);
   font-size: 1.5rem;
   font-family: 'DM Mono', monospace;
}

#custom_input ::placeholder{
   color: var(--txweak);
}

#custom_input button{
   width: 3rem;
   height: 3rem;
   border-radius: 1.5rem;
   right: .5rem;
   font-size: 1.3rem;
   font-weight: 400;
}

#help, #conf{
   width: 100vw;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
   overflow-y: scroll;
   display: flex;
   flex-flow: column;
   align-items: center;
   padding: 2rem;
   z-index: 4;
   pointer-events: none;
   transition: opacity .3s ease;
}

.modal{
   width: min(40rem, 80vw);
   border-radius: 2rem;
   border: .1rem solid var(--tx);
   background-color: var(--bg);
   display: block;
   padding: 2rem;
   box-shadow: .1rem .2rem .3rem #0004;
   text-align: left;
}

div:not(.disabled) .modal{
   pointer-events: all;
}

h1{
   margin: -.5rem 0 .5rem;
   font-size: 3rem;
}

h2{
   margin: 2.5rem 0 .5rem;
   font-size: 1.7rem;
}

.modal p{
   margin: 0;
   line-height: 1.7rem;
   overflow-wrap: normal;
}

.modal a{
   background-color: var(--glow);
   padding: 0 .2rem .1rem;
   margin: 0 .1rem;
   border-radius: .3rem;
   text-decoration: none;
   color: var(--tx);
}

a:hover{
   background-color: var(--txweak);
}

.code_sample{
   display: inline-flex;
   margin: .3rem;
   cursor: text;
}

.code_sample:not(.round){
   height: 2.8rem;
   width: 2.8rem;
   vertical-align: middle;
   transform: translate(0, -.15rem);
}

.code_sample:has(.small){
   padding-bottom: 1rem;
}

.code_sample .small{
   position: absolute;
   display: flex;
   top: 1.5rem;
   left: 0;
   text-align: center;
   width: 100%;
   height: 1rem;
}

.round{
   border-radius: 50%;
}


/*
以下、legendを並べる
*/

/* 回転 */
.c0{
   transform: rotate(-6deg);
}

.c1, .c6{
   transform: rotate(-4deg);
}

.c2, .c7{
   transform: rotate(-2deg);
}

.c4, .c9{
   transform: rotate(2deg);
}

.c5, .ca{
   transform: rotate(4deg);
}

.cb{
   transform: rotate(6deg);
}

.r0{
   transform: rotate(18deg);
}

.r1{
   transform: rotate(-18deg);
}

/* X座標 */
.c0{
   right: 18.2rem;
}
.cb{
   left: 18.2rem;
}

.c1{
   right: 14.9rem;
}
.ca{
   left: 14.9rem;
}

.c2{
   right: 11.8rem;
}
.c9{
   left: 11.8rem;
}

.c3{
   right: 8.55rem;
}
.c8{
   left: 8.55rem;
}

.c4{
   right: 5.3rem;
}
.c7{
   left: 5.3rem;
}

.c5{
   right: 2rem;
}
.c6{
   left: 2rem;
}

.r0{
   right: 1.75rem;
}
.r1{
   left: 1.75rem;
}

/* Y座標 */
.c0, .cb{
   top: 6.7rem;
}

.c1, .ca{
   top: 6rem;
}

.c2, .c9, .c4, .c7{
   top: 2.3rem;
}

.c3, .c8{
   top: 1.9rem;
}

.c5, .c6{
   top: 3.35rem;
}

.r0, .r1{
   top: 12.8rem;
}

.showcase{
   width: 100%;
   gap: .5rem 1rem;
   display: flex;
   flex-wrap: wrap;
   margin-top: .5rem;
}

.modal > .showcase:last-child{
   margin-top: 3rem;
}

.showcase > div{
   width: calc(50% - .5rem);
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.showcase > div.wide{
   width: 100%;
}

.showcase div input, .showcase div select, .modal textarea{
   padding: 0 .35rem .2rem;
   font-size: .8rem;
   appearance: none;
   outline: none;
   border: .1rem solid var(--tx);
   border-radius: .5rem;
   color: var(--tx);
   box-shadow: .1rem .2rem .3rem #0004;
   background-color: var(--bg);
   text-align: right;
   font-family: 'Zen Maru Gothic', sans-serif;
   font-weight: 400;
   overflow: hidden;
   font-size: 1rem;
   margin: 0;
   cursor: pointer;
   transition: background-color .2s ease, box-shadow .2s ease;
}

.showcase div input:hover, .showcase div select:hover{
   background-color: var(--glow);
}

.showcase div input:active, .showcase div input:not([type="checkbox"]):focus, .showcase div select:active{
   background-color: var(--bg);
   box-shadow: none;
   transition: none;
}

.showcase ::placeholder{
   color: var(--txweak);
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.showcase select{
   width: fit-content;
}

.showcase input[type="number"], .showcase input[type="text"]{
   width: 4.5rem;
   cursor: text;
}

.showcase input[type="checkbox"]{
   width: 1.7rem;
   height: 1.7rem;
   border-radius: 50%;
}

.showcase div input[type="checkbox"]:checked{
   background: radial-gradient(var(--tx) 48%, transparent 51%);
}

.showcase > div.wide input{
   width: calc(50% + 5rem);
}

.modal textarea{
   text-align: left;
   margin-top: 1rem;
   margin-bottom: -.25rem;
   font-size: .9rem;
   width: 100%;
   height: 13.5rem;
   resize: none;
   cursor: unset;
   overflow-y: scroll;
   padding: 1rem .3rem;
   font-family: 'DM Mono', monospace;
   line-height: 1.4rem;
   font-weight: 300;
}

#conf:not(.show_advanced) .advanced{
   display: none;
}

.except{
   display: none;
}

.show_advanced .showcase:has(.except_toggle:checked) + .except{
   display: flex;
}