/* おまじない */
@charset "UTF-8";
/* フォントを借りてくる */
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500&display=swap');

/* 各HTML要素を修飾する */
:root{
   --help: hsla(0, 100%, 50%, 0.07);
   --info: hsla(196, 100%, 18%, 0.1);
   --warn: hsla(46, 100%, 50%, 0.2);
}

body{
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   background-color: var(--bg);
   color: var(--tx);
   font-size: 1.1rem;
   line-height: 1.9rem;
   font-weight: 400;
   font-family: 'Zen Maru Gothic', sans-serif;
}

#content{
   margin-top: 0;
}

h2{
   margin-top: 3rem;
   font-size: 2rem;
   line-height: 2.5rem;
   position: relative;
}

.help, .info, .warn{
   border-radius: 1.5rem;
   padding: 1rem;
   font-size: 1rem;
   line-height: 1.8rem;
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
}

.help{
   background-color: var(--help);
}

.info{
   background-color: var(--info);
}

.warn{
   background-color: var(--warn);
}

.help p, .info p, .warn p{
   margin-bottom: 0;
}

.help h3, .info h3, .warn h3{
   margin-top: 0;
}

table{
   margin-bottom: 0;
}